[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml, netbox.netbox.nb_inventory

[privilege_escalation]
become = True
become_method = enable
